/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans Variable";
  src: url("./assets/OpenSans-VariableFont.ttf");
}

h2 {
  margin-bottom: 5%;
  font-family: "Open Sans Variable";
}

p {
  font-family: "Open Sans Variable";
}

.section {
  padding: 5%;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header card card"
    "header card card"
    "header card card"
    "header card card";
} /* Add more template-areas, if more cards are added */

@media (max-width: 1200px) {
  .section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "card card";
  }
}

@media (max-width: 850px) {
  .section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "card";
  }
}

header {
  padding: 5%;
  grid-area: header;
}

@media (max-width: 850px) {
  header {
    width: 28rem;
  }
}

button {
  border: none;
  background-color: rgb(0, 125, 255);
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 5%;
  padding: 2% 4%;
  border-radius: 20px;
  cursor: pointer;
}
header button:hover {
  background-color: rgb(0, 125, 255, 0.75);
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.frame {
  left: 20px;
  border: none;
  width: 5rem;
  background-color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  padding: 2% 4%;
  border-radius: 20px;
}

.card {
  height: 30rem;
  width: 25rem;
  padding: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: rgb(200, 255, 255);
  border-radius: 16px;
  grid-area: card;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 5%;
}

.filterDiv {
  display: none;
}

.filterDiv.show {
  display: block;
}

.btn.active {
  background-color: gray;
}
